fastapi
uvicorn
openai
sqlalchemy
psycopg2-binary
faiss-cpu
pandas
requests
python-dotenv
python-docx
pypdf

botbuilder-core==4.15.0
botbuilder-schema==4.15.0
botbuilder-integration-aiohttp==4.15.0

aiohttp
msrest

langchain==0.1.0
langchain-community==0.0.1
langchain-openai==0.1.0

