fastapi
uvicorn
gunicorn

openai
sqlalchemy
psycopg2-binary
pandas
requests
python-dotenv
python-docx
pypdf

botbuilder-core==4.15.0
botbuilder-schema==4.15.0
botbuilder-integration-aiohttp==4.15.0

aiohttp
msrest

# LangChain (remove strict pinning)
langchain
langchain-community
langchain-openai

# FAISS (no version pin)
faiss-cpu